logs/
*.log

# bin files
*.o
*.so
# except bin files in .prebuild dir
!lua/libs/.prebuild/**/*.so

# node
node_modules/

# tmp
tmp/*
*_temp

# Runtime data
pids
*.pid
*.seed

# IDE
.idea
.DS_Store
.imdone
.vscode

