logs/
*.log

*.o
*.so

# node
node_modules/

# tmp
tmp/*
*_temp

# Runtime data
pids
*.pid
*.seed


# IDE
.idea
.DS_Store
.imdone
.vscode

Entry {
  [1] = 123,
}

Entry {
  [1] = 123,
}

Entry {
  [1] = 123,
}
